{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
{{/if}}

<footer class="footer" role="contentinfo">
        <div class="footer__container">
          <img class="footer__logo" src="/assets/img/global/lumi-logo-1.svg" alt="Lumi by Pampers">
          <ul class="footer__list">
            <li class="footer__list__item">
               <a class="footer__link" href="#">
               <span>{{lang 'footer.products'}}</span>
               </a>
            </li>
            <li class="footer__list__item">
               <a class="footer__link" href="#">
               <span>{{lang 'footer.shopping_cart'}}</span>
               </a>
            </li>
            <li class="footer__list__item">
               <a class="footer__link" href="#">
               <span>{{lang 'footer.help'}}</span>
               </a>
            </li>
            <li class="footer__list__item">
               <a class="footer__link" href="#">
               <span>{{lang 'footer.subscription'}}</span>
               </a>
            </li>
            <li class="footer__list__item">
               <a class="footer__link" href="#">
               <span>{{lang 'footer.product_terms'}}</span>
               </a>
            </li>
            <li class="footer__list__item">
               <a class="footer__link" href="https://www.pg.com/privacy/english/privacy_notice.shtml">
               <span>{{lang 'footer.privacy'}}</span>
               </a>
            </li>
            <li class="footer__list__item">
               <a class="footer__link" href="https://www.pg.com/privacy/english/privacy_statement.shtml#CCPA">
               <span>{{lang 'footer.ca_privacy'}}</span>
               </a>
            </li>
            <li class="footer__list__item">
               <a class="footer__link" href="javascript:void(0)" onclick="Optanon.ToggleInfoDisplay();">{{lang 'footer.do_not_sell'}}</a>                    
            </li>
            <li class="footer__list__item">
               <a class="footer__link" href="https://www.pg.com/privacy/english/privacy_statement.shtml#iba">
               <span>{{lang 'footer.adchoices'}}</span><img class="footer__link__adchoice" alt="addchoices" src="/assets/img/footer/ad-choice.png"></a>                   
            </li>
            <li class="footer__list__item">
               <a class="footer__link" href="#">
               <span>{{lang 'footer.store_policy'}}</span>
               </a>
            </li>
            <li class="footer__list__item">
               <a class="footer__link" href="https://www.pg.com/en_US/privacy/english/cookie_notice.shtml">
               <span>{{lang 'footer.cookies'}}</span>
             </a>
            </li>
            <li class="footer__list__item">
              <a class="footer__link" href="https://www.pampers.com/en-us">
              <span>{{lang 'footer.pampers'}}</span>
            </a>
            </li>
            <li class="footer__list__item">
              <a class="footer__link" href="https://us.pg.com/">
              <span>{{lang 'footer.pgsite'}}</span>
              </a>
            </li>
            <li class="footer__list__item">
              <a class="footer__link" href="https://www.facebook.com/LumibyPampers/">
              <span>{{lang 'footer.facebook'}}</span>
            </a>
            </li>
            <li class="footer__list__item">
              <a class="footer__link" href="https://www.instagram.com/lumibypampers/">
              <span>{{lang 'footer.instagram'}}</span>
              </a>
            </li>
            <li class="footer__list__item">
              <a class="footer__link" href="#">
              <span>{{lang 'footer.sitemap'}}</span>
              </a>
            </li>
          </ul>
      
          <div class="separator"></div>
      
          <div class="footer__copyright">
            <img class="footer__copyright__logo" src="/assets/img/global/pglogo.png">
            <div class="footer__copyright__content">
              <p>{{lang 'footer.rights_reserved'}}</p>
              <p>{{lang 'footer.use_and_access'}}&nbsp;
                <a href="https://www.pg.com/en_US/terms_conditions/index.shtml" class="footer__copyright__pglink">{{lang 'footer.terms_and_conditions'}}</a> {{lang 'footer.legal_agreement'}}
              </p>
            </div>
      
            <div class="footer__copyright__bbb m-none d-block">
              <a href="http://www.bbb.org/cincinnati/business-reviews/manufacturers-and-producers/the-procter-gamble-company-in-cincinnati-oh-3036">
              <img class="footer__copyright__bbblogo-desktop" src="/assets/img/footer/bbb_sticker.png">
              </a>
            </div>
          </div>
      
          <div class="footer__copyright__bbb d-none">
            <div class="separator"></div>
              <a href="http://www.bbb.org/cincinnati/business-reviews/manufacturers-and-producers/the-procter-gamble-company-in-cincinnati-oh-3036">
              <img class="footer__copyright__bbblogo-mobile" src="/assets/img/footer/bbb_sticker.png">
              </a>
          </div>
          
        </div>
</footer>
