.footer {
    padding: 40px 0;
    background-color: stencilColor("banner--default-backgroundColor");
}

.footer__container{
  max-width: 1100px;
  padding: 32px;
  margin: 0 auto;
  @include screen($desktop-large) {
        padding: 10px;
    }
}

.footer__logo {
    margin: 0 0 40px;
    width: 220px; 
    height: 48px;
}

.footer__list {
    column-count: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include screen($tablet) {
        column-count: 3;
    }
    @include screen($desktop) {
        column-count: 4;
    }
}

.footer__list__item {
    margin: 0 0 8px;
}

.footer__link {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: stencilColor("color-textLink");
    padding: 8px 0;
    text-decoration: none;
    &:hover,
    &:active {
        @media (pointer: fine) {
            color: stencilColor("color-textLink--hover");
            text-decoration: underline;
        }
    }
    @include screen($tablet) {
        font-size: 18px;
        font-weight: 300;
    }
}

.footer__copyright {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 20px;
    margin: 40px 0 0;
    @include screen($tablet) {
        font-size: 14px;
        align-items: center;
    }
}
.footer__copyright__logo{
    margin-right: 24px;
}

.footer__copyright__content {
    width: 100%;
    @include screen($tablet) {
        margin-right: 56px;
    }
    & > p {
        margin: 0;
    }
    & > span {
        display: block;
        @include screen($tablet) {
            display: inline-block;
        }
    }
}

.footer__copyright__pglink{
    color: stencilColor("color-textBase");
}

.footer__link__adchoice {
  vertical-align: middle;
  margin-left: 5px;
  width: 14px;
  height: 14px;
}

.footer__copyright__bbblogo-mobile {
  display: block;
  margin: 0 auto;
}

.separator {
    border-bottom: 2px solid stencilColor("color-primary");
    margin: 32px auto;
    max-width: 100%;
    width: 100%;
    position: relative;
}