.btn {
    display: inline-block;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    vertical-align: middle;
    -webkit-appearance: none;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 2px 24px 0;
    background-color: transparent;
    transition: .2s ease-out;
}

.btn-secondary {
    display: block;
    background-color: #85c5b9;
    border-color: #85c5b9;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 24px;
    @media screen and (min-width: 961px) {
        width: initial;
        display: inline;
    }
}

.btn-tertiary {
    color: #46929c;
    font-size: 18px;
    line-height: 1;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #46929c;
    padding: 0 0 2px;
}