.form-input, .form-select {
    border: 2px solid stencilColor("color-primary");
    padding: 10px;
    &:focus {
      border: 2px solid stencilColor("color-primary");
      outline: none !important;
    }
  }
  
  .form-field--error .form-field-error, .form-field--error .form-inlineMessage {
    color: stencilColor("input-form--error") !important;
    font-weight: 300;
  }
  
  .form-field--error .form-input, .form-field--error .form-select, .form-field--error .form-checkbox + .form-label::before, .form-field--error .form-radio + .form-label::before, .form-field--error .form-prefixPostfix-label {
    border-color: stencilColor("input-form--error");
  }
  
  .form-inlineMessage {
    font-size: 12px;
    margin: 0px;
    &::before {
      background: unset !important;
      width: 0px !important;
    }
  }
  
  .form-actions a {
    vertical-align: unset;
    //margin-top: 10px !important;
  }
  
  input, button, select, textarea, details, [href] {
    &:focus {
      outline: none !important;
    }
  }
  
  
  //cart page
  .cart-content-container {
    display: block;
    @media (min-width: 961px) {
      display: flex;
    }
  }
  
  .cart-content-container__content {
    width:100%;
    padding: 15px;
    @media (min-width: 961px) {
      width: 65%;
      margin-right: 30px;
    }
  }
  
  .cart-content-container__totals {
    max-width: 380px;
    box-shadow: 0 5px 20px 0 stencilColor("color-greyLighter");
    background-color: stencilColor("color-white");
    padding: 15px;
    margin: 40px auto;
    @media (min-width: 961px) {
      width: 35%;
    }
  }
  
  .cart-actions .button{
    display: block;
    float: unset;
  }
  
  .cart-totals__container {
    width: 100%;
    padding:15px;
    @media (min-width: 961px) {
      width: 100%;
    }
  }
  
  .shipping-quotes {
    text-align: center;
  }